.blog-item-col, .case-study-item-col {
  margin: 15px 0;
}
.blog-item, .border-box {
  border: 1px solid $border-color;

  .blog-item-image {
    border-bottom: 1px solid $border-color;
    img {
      height: auto;
      width: 100%;
    }
  }

  .box-info-text {
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .blog-item-info, .box-info {
    padding: 15px;
    .blog-item-date {
      font-family: $font-catamaran;
      color: $blue;
      font-size: 17px;
      margin-bottom: 15px;
    }
  }
    h2 {
      a {
        color: inherit;
      }
    }
    p, .blog-item-link, .box-link {
      font-size: 14px;
      line-height: 1.64;
    }
    .blog-item-link, .box-link {
      border-top: 1px solid $border-color;
      padding-top: 10px;
      a {
        color: $grey-dark;
      }
    }
}

section.blog-listing {
  margin: 75px 0;
}