article {

  max-width: 800px;
  margin: 50px auto auto;

  time {
    @extend .h5;
    color: $grey;
  }

  .entry-content {
    margin-bottom: 50px;
    h1, h2, h3, h4, h5 {
      line-height: 36px;
    }
    img {
      width: 100%;
    }
  }

  h1 {
    color: $blue-dark;
  }

  h5 {
    color: $grey;
    margin-bottom: 10px;
  }


}
.author-information {
  padding: 50px 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  margin-bottom: 30px;
  .author-photo {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: lightgrey;
    margin: auto auto 1rem;
  }
  p {
    margin-bottom: 0px;
  }
}