<head lang="en">
    <meta charset="UTF-8">
    <title>Snippet</title>
    <style id="snippet-style"></style>

    <!-- Custom css for every snippet. -->
    <style type="text/css">
        body, html { overflow: hidden}
        #snippet { padding: 1px 0}
    </style>

    <!-- Insert your CSS resources here. -->
    <link rel="stylesheet" href="/app/themes/elegance/bower_components/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/app/themes/elegance/bower_components/slick-carousel/slick/slick-theme.css">
    <link rel="stylesheet" href="/app/themes/elegance/dist/styles/main.css">
    <link rel="stylesheet" href="/app/themes/elegance/bower_components/Ionicons/css/ionicons.css">
</head>
<body>
    <div id="snippet"></div>
</body>