.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.hidden {
  display: none;
}

section {
  &.blue-dark {
    background: $blue-darkest;
  }
}

.border-line {
  overflow: hidden;
  text-align: center;
  &:before,
  &:after {
    border-bottom: 1px solid $grey-light;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    margin-bottom: .15em;
  }

  &:before {
    right: 2em;
    margin-left: -50%;
  }

  &:after {
    left: 2em;
    margin-right: -50%;
  }
}

.grey-border {
  border: solid 1px $grey-lighter;
}

.grey-background {
  background-color: $gray-lighter;
}

.opaque-grey-background {
  background-color: $opaque-grey;
}

.no-underline-border {
  &:hover, &:focus, &:active, &:active:focus {
    text-decoration: none;
    outline: none;
  }
}