$media-stack: (group: large, id: general, rule: "only screen and (max-width: 1439px)"),
(group: medium-between, id: general, rule: "only screen and (min-width: 1200px) and (max-width:1399px)"),
(group: medium, id: general, rule: "only screen and (max-width: 1199px)"),
(group: desktop, id: general, rule: "only screen and (min-width: 992px)"),
(group: tablet, id: general, rule: "only screen and (max-width: 992px)"),
(group: tablet-and-up, id: general, rule: "only screen and (min-width: 767px)"),
(group: mobile, id: general, rule: "only screen and (max-width: 767px)"),
(group: mobile-small, id: general, rule: "only screen and (max-width: 479px)"),
(group: mobile-tiny, id: general, rule: "only screen and (max-width: 380px)"),
(group: print, id: general, rule: "only print");

@mixin media($group, $id: general) {
  @each $media in $media-stack {
    @if ($group == map-get($media, group) and $id == map-get($media, id)) {
      $rule: map-get($media, rule);
      @media #{$rule} {
        @content
      }
    }
  }
}
