h1, .h1 {
  font-size: 37px;
  color: $white;
  font-family: $font-catamaran, $font-lato, sans-serif;
  margin-bottom: 20px;
  &.large {
    font-size: 48px;
    color: $blue-dark;
  }
}
h2, .h2 {
  font-size: 30px;
  color: $blue-dark;
  font-family: $font-poppins, $font-lato, sans-serif;
  &.large {
    font-size: 37px;
  }
}

h3, .h3 {
  font-size: 21px;
  color: $blue;
  font-family: $font-catamaran, $font-lato, sans-serif;
}

h4, .h4 {

}

h5, .h5 {
  font-size: 12px;
  color: $white;
  font-weight: bold;
  font-family: $font-poppins, $font-lato, sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.grey-text {
  color: $gray-dark;
}