// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

//-- typo:start --//
$font-catamaran: Catamaran; // 400, 700
$font-lato: Lato; // 400, 700
$font-poppins: Poppins; // 400
//-- typo:end -- //

$font-family-sans-serif: $font-lato;
//$font-family-serif:     ;
//$font-family-monospace:;

//-- colors:start --//
$blue-darkest: #111039;
$blue-dark: #2d2a6f;
$blue: #3da0d0;

$green: #7fc241;

$gray-dark: #4e555c;
$gray: #828a91;
$gray-light: #bbc8d3;
$gray-lighter: #dee2e5;
$gray-lightest: #f0f5f7;
//-- colors:end --//

$brand-primary: $blue;

// Because we're english and we spell gray as grey
$grey-dark: $gray-dark;
$grey-dark: $gray-dark;
$grey: $gray;
$grey-light: $gray-light;
$grey-lighter: $gray-lighter;
$grey-lightest: $gray-lightest;

// Body
$body-color: $grey-dark;

// Button liner gradient shades
$blue-light: #18b7d3;
$green-light: #b9de0f;

// Mobile nav button
$blue-book-button: #27283b;

// Generic
$white: #fff;
$black: #000;

$border-color: $grey-lighter;

// Opaque
$opaque-grey: rgba(240, 244, 246, 0.5);