.post-type-archive-services {
  .services {
    padding-top: 40px;
    padding-bottom: 40px;

    h5 {
      color: $gray;
      font-weight: 600;
      margin-bottom: 35px;
    }

    .featured-image {
      width: 100%;
      &:hover {
        + .service {
          background-color: rgba(222, 226, 229, 0.5);

          button {
            background-color: #2b84af;
            border-color: #297ea7;
          }

        }
      }
    }

    a.service-link {
      &:not(:last-of-type) {
        margin-bottom: 50px;
      }

      .service {
        padding: 30px 30px 0;

        &:hover {
          background-color: rgba(222, 226, 229, 0.5);

          button {
            background-color: #2b84af;
            border-color: #297ea7;
          }
        }

        .service-name {
          font-size: 30px;
          font-weight: 300;
          color: $blue-dark;
        }

        .service-excerpt {
          p {
            margin: 0;
          }
        }

        button {
          border-radius: 50%;
          width: 40px;
          height: 40px;
          position: relative;
          bottom: -20px;

          span {
            position: relative;
            right: 2px;
          }

        }
      }
    }
  }
}