.single-services {

  .content-wrapper {
    margin-top: 80px;
    margin-bottom: 80px;

    .image {
      margin-bottom: 45px;
      img {
        width: 100%;
      }
    }

    .header {
      h3 {
        color: $blue-dark;
        font-size: 30px;
        line-height: 45px;
        font-weight: 300;
      }
    }

    .text {
      font-size: 15px;
    }

    h5 {
      color: $gray;
      font-weight: 600;

      @include media(mobile) {
        margin-top: 20px;
      }

    }

    .advantage-list {
      margin-bottom: 40px;

      ul {
        list-style-type: none;
        padding: 0;

        li.advantage {
          padding: 15px;
          border: solid 1px #e4e4e4;

          .advantage-title {
            margin-bottom: 0;
          }

          .advantage-text {
            color: #4f555c;
            font-size: 15px;
          }

        }

      }

    }

    .booking-form {

      .header {
        color: $blue-dark;
        margin-bottom: 5px;
      }

      .sub-header {
        margin-bottom: 20px;
      }

    }

  }

}