section.fees {
  margin: 75px auto;
  table {
    thead {
      border-bottom: 1px solid $grey-lighter;
      margin-bottom: 15px;
      th {
        @extend .h5;
        color: $grey;
        letter-spacing: 0.4px;
        padding: 15px 100px 15px 15px;
        &:first-child {
          width: 520px;
        }
      }
    }
    tbody {
      &:before {
        content: "-";
        display: block;
        line-height: 1em;
        color: transparent;
      }
      tr {
          background-color: #eff4f5;
        td {
          border-bottom: 3px solid $white;
          padding: 12.5px 15px;
          &.full-span {
            @extend .h5;
            letter-spacing: 0.9px;
            background-color: $grey-light;
            border-top: 15px solid $white;
            padding: 17px 15px;
          }
        }
      }

    }
  }

}