section.membership-fees {

  margin: 50px 0;

  h5.border-bottom {
    color: $grey;
    letter-spacing: 0.4px;
    border-bottom: 1px solid $grey-lighter;
    padding: 15px 0;
    margin-bottom: 40px;
  }

  h2 {
    text-align: center;
    margin: 30px auto;
  }

  table {
    td, th {
      border: 4px solid white;
    }
    th {
      padding: 25px;
      background-color: $blue-dark;
      text-align: center;
      @extend .h5;
      font-size: 14px;
      max-width: 170px;
      &:first-child {
        background-color: transparent;
      }
    }
    tr {
      td {
        // First column
        &:first-child {
          font-size: 15px;
          color: white;
          padding: 15px 20px;
          max-width: 292px;
          background-color: $blue;
          text-align: left;
        }

        text-align: center;
        font-family: $font-catamaran;
        font-size: 30px;
        color: $blue-dark;
        padding: 15px 30px;
        background-color: $grey-lightest;

      }

      &:nth-child(even) {
        td {
          &:first-child {
            background-color: #1f89bd;
          }
        }
      }

      // Monthly costs
      &:last-child {
        td {
          // First column
          &:first-child {
            background: transparent;
            font-family: $font-catamaran;
            color: $blue-dark;
            font-size: 30px;
            font-weight: 500;
          }
          font-weight: bold;
        }
      }
    }
    span {
      font-size: 22px;
      color: $blue;
    }
  }

}