footer {
  background: $blue-darkest;
  color: $grey-lighter;
  font-size: 15px;
  .footer-top {
    padding-top: 30px;
    padding-bottom: 30px;
    p.strong {
      font-family: $font-poppins, $font-lato, sans-serif;
    }
    p:not(.strong) {
      font-weight: 300;
    }
  }
  .line {
    border-bottom: 1px solid rgba(252, 252, 252, 0.11);
  }
  .footer-legal-links, .footer-copyright {
    padding: 30px 0;
    font-weight: 300;
  }
  .footer-legal-links {
    a {
      color: $grey-lighter;
      margin-right: 5px;
    }
  }
  .social-icons {
    text-align: right;
    > div {
      height: 35px;
      margin-bottom: 12.5px;
    }
  }
}