header.banner {
  height: 148px;
  @include media(medium) {
    height: 108px;
  }

  .wrapper {
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 20px;
    @include media(medium) {
      justify-content: space-between;
      max-width: 100%;
    }

    @include media(medium) {
      .brand {
        img {
          width: 150px;
        }
      }
    }

    nav.nav-primary {
      align-items: flex-end;
      position: relative;
      bottom: 15px;
      font-family: $font-catamaran, $font-lato, sans-serif;
      padding: 0;

      @include media(medium) {
        display: none;
      }

      ul.nav {
        display: flex;
        justify-content: space-between;

        li.menu-item {
          &:not(:last-of-type) {
            margin-bottom: 8px;
          }

          a {
            color: $grey-dark;
            font-size: 17px;

            &:hover {
              color: $blue;
              text-decoration: none;
            }

            &:focus {
              text-decoration: none;
            }

          }

          &.menu-item-object-services {
            >.sub-menu {
              min-width: 210px;
            }
          }

        }

        li.menu-item-has-children {
          position: relative;

          ul.sub-menu {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            padding: 12px 16px;
            z-index: 1;

            li {
              list-style: none;
              width: 113%;
            }

            li.menu-item-has-children {
              ul.sub-menu {
                top: -10px;
                left: 200px;
                &:before {
                  top: -10px;
                  left: -20px;
                  border: 10px solid transparent;
                  border-right-color: #f9f9f9;
                  margin: 20px 0;
                }
              }
            }

          }

          &:hover {
            > ul.sub-menu {
              display: block;
              border-radius: 4px;
              position: absolute;
              top: 35px;
              border: #dee2e5 1px solid;
              &:before {
                content: "";
                position: absolute;
                top: -20px;
                left: 0;
                z-index: 1;
                border: solid 10px transparent;
                border-bottom-color: #f9f9f9;
                margin: 0 20px;
              }
            }
          }

        }

      }

    }

    .call-to-actions {
      height: 100%;
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: flex-end;
      flex-wrap: wrap;
      padding-top: 20px;
      @include media(medium) {
        display: none;
      }

      .social-icons {
        display: flex;
        position: absolute;
        right: 190px;

        .circle {
          margin-right: 12.5px;
          text-align: center;
        }

      }

      .contact-number {
        font-family: $font-catamaran;
        font-size: 22px;
        font-weight: 500;

        a {
          color: $blue;
          &:hover {
            text-decoration: none;
          }
          &:before {
            margin-right: 5px;
            margin-left: 10px;
          }
        }

      }

      a.button {
        margin: 25px 25px 0;
        padding: 10px 30px 0;
        font-weight: bold;
        font-family: $font-catamaran;
        font-size: 18px;
        color: $white;
      }

    }

    button.navbar-toggler {
      display: none;
      align-self: center;
      position: relative;
      top: 15px;
      right: 10px;
      &:focus {
        outline: none;
      }
      @include media(medium) {
        display: block;
      }
    }

  }

}