.team-members {
  margin-top: 90px;
  margin-bottom: 60px;

  .team-member {
    margin-bottom: 30px;
    padding: 0;

    .team-member-inner {
      width: 90%;
      margin: auto;
      border: 1px solid $gray-lighter;

      @media screen and (max-width: 767px) and (min-width: 400px) {
        width: 60%;
      }

      .team-member-link {
        display: flex;

        &:hover, &:focus {
          text-decoration: none;
          outline: none;
        }

        .image-wrapper {
          width: 100%;
          @include media(mobile) {
            max-width: 150px;
          }
          img {
            width: 100%;
            @include media(mobile) {
              max-width: 150px;
            }
          }
        }

        .info-wrapper {
          position: relative;
          width: 100%;
          padding: 48px 28px 0;

          @include media(medium) {
            padding: 28px 28px 0;
          }

          @include media(mobile-small) {
            padding: 18px 18px 0;
          }

          .name-and-position {
            @include media(medium) {
              padding-bottom: 10px;
            }

            .name {
              font-size: 25px;
              font-weight: 300;
              @include media(medium) {
                font-size: 21px;
              }
            }

            .position {
              font-size: 21px;
              font-weight: 300;
              @include media(medium) {
                font-size: 17px;
              }
            }

          }

          .biography {
            margin: 20px 0;
            font-size: 15px;
          }

          .about-member {
            position: absolute;
            bottom: 10px;
            border-top: 1px solid $gray-lighter;
            width: 70%;

            @include media(medium) {
              bottom: 5px;
            }

            .about-link {
              color: $gray-dark;
              font-weight: 300;
              margin: 8px 0;

              .arrow {
                position: absolute;
                right: 0;
                font-size: 12px;
                margin: 4px 0;
                color: $grey;
              }

            }
          }
        }
      }
    }
  }
}

.mfp-container {
  background-color: rgba(17, 15, 56, 0.6);

  .white-popup {
    position: relative;
    background: #FFF;
    padding: 35px 25px;
    width: auto;
    max-width: 750px;
    margin: 20px auto;

    .team-member-inner {
      .container {
        @media screen and (min-width: 544px) {
          max-width: 100%;
        }
        .name-and-position {
          .name {
            display: inline;
          }
          .name, .name-prefix {
            font-size: 30px;
            font-weight: 300;
          }
          .name-prefix {
            margin-left: 5px;
            color: $blue-dark;
          }
          .position {
            font-size: 21px;
            font-weight: 300;
          }
        }

        .mfp-close {
          color: #828a91;
          right: 25px;
          top: 25px;
          font-size: 42px;
        }
      }
    }
  ;

  }

}
