#breadcrumbs {
  width: 60%;
  list-style: none;
  margin: 20px 0 0;
  overflow: hidden;
  color: $grey-lighter;
  font-size: 15px;
  font-weight: 300;
  font-family: $font-lato;
  @include media(mobile-tiny) {
    display: none;
  }
  li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    &.separator {
      font-size: 18px;
      font-weight: 100;
    }
    a {
      color: $grey-lighter;
      text-decoration: none;
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
    p {
      margin-bottom: 0;
    }
  }
}