.button {
  width: auto;
  height: 41px;
  border-radius: 100px;
  font-size: 16px;
  color: $white;
  font-family: $font-poppins, $font-lato, sans-serif;
  border: 0 solid transparent;
  padding-top: 10px;

  &:focus {
    outline: none;
  }

  &:focus, &:hover {
    color: $white;
  }

  &:active {
    box-shadow: inset 0 1px 4px rgba(0, 0, 4px, 0.4);
    &:focus {
      outline: none;
    }
  }

  .arrow {
    margin-left: 10px;
  }

  &.primary-colours {
    background: linear-gradient($blue-light, $blue);
    &:hover, &:focus {
      background: darken($blue, 5%);
    }
    &:active {
      background: darken($blue, 8%);
    }
  }

  &.secondary-colours {
    background: linear-gradient($green-light, $green);
    &:hover, &:focus {
      background: darken($green, 2%);
    }
    &:active {
      background: darken($green, 8%);
    }
  }
}
