.finance-banner {
  min-height: 135px;
  background: linear-gradient(to right, $blue , #70ceea);
  display: flex;
  align-items: center;
  .inner-container {
    width: 100%;
    .title-wrapper {
      @include media(mobile) {
        text-align: center;
        padding: 20px 0;
      }
      h2 {
        color: $white;
        font-size: 30px;
        font-weight: 100;
        font-family: $font-catamaran;
        @include media(mobile-small) {
          font-size: 25px;
        }
      }
    }
    .button-wrapper {
      text-align: right;
      @include media(mobile) {
        text-align: center;
        padding-bottom: 20px;
      }
    }
  }
}