// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

form {
  label {
    display: none;
  }
  input:not([type='submit']), select, textarea {
    width: 100%;
    font-family: $font-poppins;
    background-color: $grey-lightest;
    border-radius: 6px;
    border-style: none;
    padding: 10px 15px;
    font-size: 15px;
    color: $grey;
    &:focus {
      outline: none;
    }
  }
  input[type='submit'] {
    padding-top: 7px;
  }
  select {
    appearance: none;
  }
  .chevron {
    position: absolute;
    right: 20px;
    top: 0;
  }
}