.hero-banner {
  .banner-wrapper {
    position: relative;
    .banner-background {
      height: auto;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      .breadcrumbs {
        display: flex;
        max-width: 1140px;
        margin: auto;
        justify-content: flex-end;
      }
      .centered-content {
        max-width: 730px;
        margin: 50px auto 120px;
        text-align: center;
        @include media(mobile) {
          padding: 0 40px 60px;
        }
        .icon {
          margin: auto auto 25px;
          width: 40px;
          height: 40px;
          img {
            width: 100%;
            height: auto;
          }
        }
        .header {
          h1 {
            font-family: $font-catamaran;
            font-size: 37px;
            color: $white;
            margin-bottom: 20px;
            @include media(mobile) {
              font-size: 27px;
            }
          }
        }
        .sub-header {
          h2 {
            font-size: 21px;
            font-family: $font-catamaran;
            color: $blue;
            margin-bottom: 20px;
            @include media(mobile) {
              font-size: 18px;
              line-height: 1.3;
            }
          }
        }
        .further-information {
          p {
            color: $white;
            @include media(mobile) {
              font-weight: 100;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
  .book-button {
    position: absolute;
    bottom: -20px;
    text-align: center;
    left: 0;
    right: 0;
  }
}