.map-wrapper {
  position: relative;
  top: -160px;
  width: 100%;
  min-height: 425px;
  -webkit-box-shadow: 0px 66px 140px -49px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 66px 140px -49px rgba(0,0,0,0.75);
  box-shadow: 0px 66px 140px -49px rgba(0,0,0,0.75);
  @include media(mobile) {
    top: -40px;
    padding: 0 15px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

#map-object {
  height: 100%;
}