nav.mobile-nav {
  width: 200px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background: #0e0d1e;
  color: white;
  padding-top: 30px;
  z-index: 1;
  overflow: auto;
  overflow-x: hidden;
  transform: translateZ(0);
  transform: translateX(0);
  visibility: hidden;
  transition: visibility 0s 0.3s;

  &.open {
    transform: translateX(0);
    visibility: visible;
    transition: visibility 0s 0s;
  }

  a {
    display: block;
    color: $grey-light;
    max-width: 95%;
    &:hover {
      text-decoration: none;
    }
  }

  .menu-primary-navigation-container {
    > ul {
      padding: 0 15px;
    }
  }

  ul {
    transition: transform 0.3s;
    &.sub-menu {
      transform: translateX(115%);
      &.is-visible {
        li {
          a {
            transform: translateX(0);
            opacity: 1;
          }
        }
      }
    }
    &.is-visible {
      transform: translateX(0);
    }
    &.is-hidden {
      transform: translateX(100%);
    }
    &.moves-out {
      li {
        a {
          transform: translateX(-100%);
          opacity: 0;
        }
      }
      ul.moves-out {
        ul.is-visible {
          li {
            a {
              transform: translateX(-100%) !important;
              opacity: 1 !important;
            }
          }
        }
      }
    }
    li {
      list-style: none;
      margin-bottom: 10px;
      &.menu-item-has-children {
        height: 26px;
        a {
          .arrow {
            position: absolute;
            right: 30px;
            color: $green;
          }
        }
        ul {
          padding: 0;

        }
      }
      &.go-back {
        a {
          color: $green;
        }
      }
    }
  }
  .button, .contact-number {
    position: absolute;
  }
  .button {
    bottom: 60px;
    right: 23px;
    background: $blue-book-button;
    color: $white;
    padding: 10px 40px;
  }
  .contact-number {
    bottom: 20px;
    right: 37px;
    color: $blue;
    span {
      &:before {
        margin-right: 10px;
      }
    }
  }
}

div.main-wrapper {
  z-index: 2;
  transition: transform 0.3s;
  transform: translateZ(0);
  will-change: transform;
  position: relative;
  background: $white;
  &.menu-open {
    transform: translateX(-200px);
  }
}
