.promotion-banner {
  background-color: $blue;
  padding: 10px 0;

  .text-wrapper {
    text-align: center;

    .text {
      display: inline;
      margin: auto;
      font-family: $font-catamaran;
      letter-spacing: 0.8px;

      p {
        display: inline;
        color: $white;
        font-weight: 100;

        strong {
          font-weight: 600;
        }

      }

    }

    .button {
      background-color: $white;
      color: $grey;
      margin-left: 10px;
      font-size: 11px;
      text-transform: uppercase;
      font-weight: bold;
      padding: 5px 16px;
      height: 26px;
      position: relative;
      bottom: 1px;

      @include media(mobile) {
        margin-top: 5px;
      }

    }

  }

  .dismiss-wrapper {
    align-self: center;

    .dismiss {
      span {
        color: $white;
      }
    }

  }

}