.social-icons {

  .circle {
    min-width: 35px;

    span {
      border: solid 1px $grey-lighter;
      border-radius: 50%;
      padding: 4px 8px;
      font-size: 22px;
      color: $grey-light;
      width: 34px;
      text-align: center;
      &:before {
        min-width: 21px;
      }

      &:hover {
        &.ion-social-facebook {
          color: #3b5998;
          border-color: #3b5998;
        }
        &.ion-social-twitter {
          color: #4099FF;
          border-color: #4099FF;
        }
        &.ion-social-linkedin {
          color: #0077B5;
          border-color: #0077B5;
        }
      }

    }

  }

}