section.testimonial-section, section.testimonial-single {
  box-shadow: inset 0 0 0 1000px rgba(17,16,57,.87);
  background-image: url('../images/testimonial-backdrop.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
}

section.testimonial-single {
  padding: 80px 0;
  h2 {
    color: $white;
    font-weight: 100;
    margin-bottom: 30px;
  }
  p {
    font-size: 15px;
    max-width: 830px;
    margin: auto;
  }
  h3 {
    margin-top: 35px;
  }
}