section.contact {
  color: $white;
  padding: 120px 0;
  .introduction {
    margin-bottom: 90px;
    .icon {
      width: 40px;
      margin: auto auto 30px;
      img {
        width: 100%;
      }
    }
  }
  form {
    input, textarea {
      background-color: rgba(0, 0, 0, 0.4);
      color: $white;
    }
  }
  .information-content {
    font-size: 21px;
    margin-bottom: 25px;
  }
}