body.contact {

  section.map {
    padding: 80px 0;
  }
  .cta {
    margin: auto;
    margin-top: -40px;
    width: 100%;
    @include media(mobile) {
      margin-top: 0px;
    }
    h2 {
      margin-bottom: 20px;
    }
    a {
      padding: 10px 35px;
    }
  }

}