.image-gallery {
  .gallery-title {
    margin-bottom: 32px;
  }
  .popup-gallery {
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    a.lightbox-link {
      transition: all 0.25s ease-in-out 0s;
      width: 23%;
      &:hover, &:focus {
        opacity: 0.8;
        outline: none;
      }
      @include media(mobile) {
        width: 48%;
      }
      div.image-wrap {
        margin-bottom: 30px;
        display: inline-block;
        img {
          width: 100%;
        }
        figcaption {
          display: none;
        }
      }
    }
  }
}

.mfp-bg figcaption {
  display: block;
  position: absolute;
}

.mfp-gallery {
  .lb-title {
    margin: 0.3em 0 0 0.3em;
  }
  .lb-description {
    margin: .3em 0 0 0.4em;
    width: 100%;
  }
}
