.info-hours {
  border-bottom: solid 1px $grey-lighter;
  padding-bottom: 80px;
  margin-bottom: 45px;
  .opening-hours {
    border-bottom: solid 1px $grey-lighter;
    padding-bottom: 30px;
    margin-bottom: 20px;
    .days {
      font-size: 12px;
    }
    .times {
      font-size: 21px;
      font-family: $font-catamaran;
      color: $blue;
      padding: 5px 0;
    }
  }
}