.case-study-item {
  padding: 34px;
  border: 1px solid $border-color;
  margin-bottom: 30px;
  .case-study-thumbnails {
    position: relative;
    cursor: pointer;
    text-align: center;
    &:hover {
      span.circle {
        background: #18b7d3;
      }
    }
  }
  .thumbnail {
    width: 135px;
    height: 91px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    &.before {
      margin-right: 2.5px;
    }
    &.after {
      margin-left: 2.5px;
    }
  }
  span.circle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 41px;
    height: 41px;
    background: $blue;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    transition: all 0.3s ease;
  }
}

.case-study-modal-content {
  max-width: 800px;
  text-align: center;
  margin: auto;
  padding: 0 15px;
  img {
    width: 100%;
    height: auto;
  }
  .info {
    background: white;
    color: $gray-dark;
    padding: 15px;
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    text-align: left;
  }
}

section.case-study-items {
  margin: 60px 0;
}

.mfp-zoom-in {

  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
  }

  &.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }

  /* animate out */
  &.mfp-removing {

    .mfp-with-anim {
      transform: scale(0.8);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }

  }

}