.award-logos {
  margin-top: 42px;
  margin-bottom: 42px;
  .logo-container {
    padding: 0;
    text-align: center;
    @media screen and (min-width: 544px) {
      &:nth-child(3n-2) {
        text-align: right;
      }
      &:nth-child(3n) {
        text-align: left;
      }
    }
  }
}