.home {
  main {
    .carousel {
      margin-bottom: 0;
      padding: 0;
      visibility: hidden;
      min-height: 500px;

      .slick-prev, .slick-next {
        z-index: 1;
        &:before {
          color: $grey;
          font-size: 35px;
          position: relative;
          bottom: 10px;
        }
      }

      .slick-prev {
        left: 85px;
      }

      .slick-next {
        right: 85px;
      }

      .slick-slide {
        height: 500px;
        background: 50% 10%/cover no-repeat;

        .wrapper {
          padding-top: 150px;
        }

        .content-wrapper {
          height: 100%;
          display: flex;
          align-items: left;
          flex-direction: column;
          justify-content: center;
          width: 70%;
          margin: auto;
          @include media(mobile) {
            align-items: center;
          }
          h1 {
            margin-bottom: 20px;
          }
        }
      }
      .slick-dots {
        bottom: 100px;
        left: 110px;
        text-align: left;
        width: 70%;
        margin: auto;
        position: absolute;
        padding: 0 15%;
        li {
          button {
            &:before {
              font-size: 14px;
              color: $white;
              opacity: 1;
            }
          }
          &.slick-active {
            button {
              &:before {
                opacity: 1;
                color: $blue;
              }
            }
          }
        }
        @include media(mobile) {
          text-align: center;
          left: 0;
        }
      }
    }
  }
  section.testimonial-section {
    padding: 210px;
    @include media(mobile) {
      padding: 30px;
    }
    .container {
      position: relative;
    }
  }
  .all-testimonials-btn {
    position: absolute;
    right: 0;
    top: -150px;
  }
  .testimonial-carousel {
    clear: right;
    .slick-prev:before,
    .slick-next:before {
      font-size: 48px;
      font-style: normal;
    }
    .slick-prev {
      left: 25%;
      z-index: 10;
    }
    .slick-next {
      right: 25%;
      z-index: 10;
    }
    .testimonial-item {
      text-align: center;
      padding: 0 17px;
      opacity: 0.2;
      transition: all 0.3s ease;
      // Active
      &.slick-current {
        opacity: 1;
        .photo {
          width: 57px;
          height: 57px;
        }
        p {
          font-size: 15px;
        }
        h3 {
          font-size: 21px;
        }
      }
      .photo {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background: lightgrey;
        margin: auto auto 1rem;
      }
      p {
        font-size: 13px;
        color: white;
        font-weight: 300;
      }
      h3 {
        font-size: 16px;
        color: $blue;
        font-family: $font-catamaran, $font-lato, sans-serif;
        font-weight: 100;
      }
    }
  }
}