.service-ctas {
  .row {
    flex-wrap: nowrap;
    @include media(mobile) {
      flex-wrap: wrap;
    }
    .service-wrapper {
      &:hover, &:focus {
        color: #3da0d0;
        text-decoration: none;
      }
      padding: 5px 3px;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      .service {
        display: flex;
        height: 100%;
        padding: 40px 20px;
        background-color: $grey-lightest;
        &:hover {
          background-color: $gray-lighter;
        }
        .icon-wrapper, .arrow-wrapper {
          display: flex;
          align-items: center;
          padding: 0 10px 0 15px;
        }
        .icon-wrapper {
          img {
            width: 50px;
          }
        }
        .text-wrapper {
          padding: 0 40px 0 20px;
          width: 80%;
          @media screen and (max-width: 960px) and (min-width: 760px) {
            padding: 0;
          }
          @media screen and (max-width: 340px) {
            padding: 0;
          }
          .header {
            font-size: 22px;
            font-weight: 300;
          }
          .subtitle {
            color: $grey;
            font-size: 14px;
            font-family: $font-poppins, $font-lato, sans-serif;
          }
        }
        .arrow-wrapper {
          width: 40px;
          .arrow {
            color: $grey-light;
            font-size: 22px;
          }
        }
      }
    }
  }
}