.special-offers {
  padding-top: 60px;
  border-top: 1px solid $border-color;
  .section-header, .section-sub-header {
    text-align: center;
  }
  .offers-container {
    margin-top: 70px;
    .slick-arrow {
      &.slick-prev {
        left: 7px;
      }
      &.slick-next {
        right: 3px;
      }
      &:before {
        color: $grey-light;
        font-size: 30px;
      }
    }
    .offer-box {
      margin-bottom: 20px;
      .contents-wrapper {
        height: 100%;
        padding: 0;
        border: solid 1px $grey-lighter;
        border-radius: 4px;
        @include media(mobile) {
          width: 90%;
          margin: auto;
        }
        .offer-img {
          width: 100%;
          border-radius: 3px 3px 0 0;
        }
        .text-wrapper {
          padding: 30px;
          .service {
            margin-bottom: 5px;
            font-size: 15px;
          }
          .offer-title {
            font-size: 30px;
            font-weight: 300;
            margin-bottom: 0;
          }
          .offer-details {
            padding: 25px 0;
            margin-bottom: 0;
            border-bottom: solid 1px $grey-lighter;
          }
          .contact-info {
            margin: 25px 0 0;
          }
        }
      }
    }
  }
}