.welcome-book {
  margin-top: 85px;
  margin-bottom: 85px;
  h1, h2 {
    margin-bottom: 15px;
  }
  h1 {
    font-size: 37px;
    color: $blue-dark;
  }
  h2 {
    font-size: 21px;
    line-height: 27px;
    font-weight: 300;
    font-family: $font-catamaran, $font-lato, sans-serif;
  }
  p {
    font-size: 15px;
  }
  .booking-form {
    @include media(tablet-and-up) {
      padding-left: 80px;
    }
    @include media(mobile) {
      margin-top: 50px;
    }
  }
}